{% extends '../index.html' %}
{% load static %}
{% block content %}

<div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Ajouter une Voiture! </h1>
                            </div>
                            {% for messge in messages %}
                           <!-- <div class="alert alert-success alert-admissible fade show" role="alert">
                                <strong></strong>{{msg}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                            </div> -->
{% include '../_msg.html' %}
                                {% endfor %}
                            <form class="user" action="" method="POST">
                                {% csrf_token %}


                                <div class="form-group row">
                                    <!-- <div class="col-sm-6 ">
                                        <input type="text" value="{{voit.plaque}}" class="form-control form-control-user" name="plaque" id="exampleFirstName"
                                            placeholder="Plaque d'immatricultion">
                                    </div> -->
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <!--<input type="text" class="form-control form-control-user" name="marque" id="exampleLastName"
                                            placeholder="Marque">-->
                                        <select class="form-control form-control-user" name="propriete">
                                            <option selected value="{{ voit.propriete.NNI }}" >{{ voit.propriete.Prenom }}</option>
                                            {% for propriete in Proprietes %}
                                            <option value="{{ propriete.NNI }}" >{{ propriete.Prenom }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" value="{{voit.marque}}" class="form-control form-control-user" name="marque" id="exampleInputEmail"
                                        placeholder="Marque">
                                </div>

                                <div class="form-group">
                                    <input type="text" value="{{voit.genre}}" class="form-control form-control-user" name="genre" id="exampleInputEmail"
                                        placeholder="Genre">
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" value="{{voit.couleur}}" class="form-control form-control-user" name="couleur"
                                            id="exampleInputPassword" placeholder="Couleur">
                                    </div>
                                    <!-- <div class="col-sm-6 mb-3 mb-sm-0 input-group ">
                                         <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                        <input type="File" value="http://127.0.0.1:8000{{voit.image.url}}" class=" form-control form-control-user" name="img" id="inputGroupFile02">

                                    </div> -->
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Enrigistrer
                                </button>
                                <hr>
                            </form>
                            <hr>

                        </div>
                    </div>
                </div>

{% endblock %}